@font-face {
   font-family: c-font-basic;
  src: url(font/SalmaproMedium.otf);
}

html, body {
  height: 100%;
  width: 100%;
}

.boxed-div {
  outline-style: solid;
  outline-color: #ffffff;
  background-color: rgb(0, 0, 0, 0.2);
  outline-width: 1px;
  max-width: 500px;
}

body {
  font-family: c-font-basic;
  background-image: url('img/background-3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.site {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: left;
  flex: 1;
  flex-direction: row;
}

.gear_container {
  display: inline-block;
  max-width: 750px;
  padding: 1rem 1rem;
}

.base_stats {
  display: inline-block;
  align-items: left;
}

.js_dropdown {
  font-family: c-font-basic;
  color: white;
  background: transparent;
  border: none;
}

.stats_container {
  display: inline-block;
  align-items: right;
  text-align: left;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}