body {
    background-image: url('img/background-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog {
    border-radius: 10px;
    border: #ffffff;
    border-width: 1px;
    border-style: solid;
    padding: 10px 100px;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}